*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

h1{
    color: #1D2D3D;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}

h2{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
}

p{
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: justify;
}

.gold-selection{
    color: #FFBB00;
}











nav{
    background: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}
.nav-content{
    width: 100%;
    max-width: 1400px;
    height: 80px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #dddddd;
}
.nav-content div:first-child{
    justify-self: start;
}
.nav-content div:last-child{
    justify-self: end;
}



.social-icons{
    display: flex;
    align-items: center;
    justify-content: left;
}
.social-icons a{
    width: 20px;
    height: 20px;
    color: #1D2D3D;
}
.social-icons a:first-child{
    margin-right: 10px;
}



.logo{
    display: block;
    color: #1D2D3D;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.logo:hover{
    cursor: pointer;
    transform: scale(1.1);
}



.menu-icon:hover{
    cursor: pointer;

}
.menu-icon span{
    background: #1D2D3D;
    display: block;
    width: 25px;
    height: 5px;
    margin-top: 3px;
}
.menu-icon span:first-child{
    margin-top: 0;
}



.hero{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.hero-content{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 40px;
}


.hero-text{
    justify-self: start;
    width: 600px;
}
.hero-text p{
    margin-top: 20px;
}



.hero-collage{
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
.hero-collage div{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#collage-photo1{
    width: 250px;
    height: 250px;
    justify-self: end;
    align-self: end;
    background-image: url("img/henrique-ferreira-fkwglVYEaRI-unsplash.jpg");
}
#collage-photo2{
    width: 300px;
    height: 300px;
    justify-self: start;
    align-self: end;
    background-image: url("img/tim-hufner-UBJrRodM2Xk-unsplash.jpg");
}
#collage-photo3{
    width: 200px;
    height: 200px;
    justify-self: end;
    align-self: start;
    background-image: url("img/watcharlie-ztKFfuuUCK4-unsplash.jpg");
}
#collage-photo4{
    width: 250px;
    height: 250px;
    justify-self: start;
    align-self: start;
    background-image: url("img/maksym-tymchyk-yyrbFPOrUfw-unsplash.jpg");
}



.tiles{
    width: 100%;
}
.tiles-content{
    width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    column-gap: 20px;
    row-gap: 20px;
}
.tiles-content a{
    display: block;
    text-decoration: none;
    height: 453.33px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.tiles-content a:hover{
    transform: scale(0.97);
}
.tiles-content h2{
    text-transform: uppercase;
    position: absolute;
    bottom: 40px;
    left: 40px;
}



#tiles-tile1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url("img/alain--xWJFQkZIs8-unsplash.jpg");
}
#tiles-tile2{
    background-image: url("img/henrique-ferreira-4CKnbVZ4Tew-unsplash.jpg");
}
#tiles-tile3{
    background-image: url("img/henrique-ferreira-fkwglVYEaRI-unsplash.jpg");
}
#tiles-tile4{
    background-image: url("img/maksym-tymchyk-yyrbFPOrUfw-unsplash.jpg");
}
#tiles-tile5{
    background-image: url("img/marek-piwnicki-enuCEimS1p4-unsplash.jpg");
}
#tiles-tile6{
    background-image: url("img/matt-paul-catalano-0QEG_xOoY7Y-unsplash.jpg");
}
#tiles-tile7{
    grid-column-start: 2;
    grid-column-end: 4;
    background-image: url("img/shawn-ang-tN-z9_9kFXQ-unsplash.jpg");
}
#tiles-tile8{
    background-image: url("img/tim-hufner-UBJrRodM2Xk-unsplash.jpg");
}
#tiles-tile9{
    background-image: url("img/watcharlie-ztKFfuuUCK4-unsplash.jpg");
}
#tiles-tile10{
    background-image: url("img/alain--xWJFQkZIs8-unsplash.jpg");
}



footer{
    width: 100%;
}
.footer-content{
    width: 100%;
    max-width: 1400px;
    height: 80px;
    margin: 100px auto 0 auto;
    border-top: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: start;
}







@media(max-width: 1500px){
.nav-content{
    padding: 0 20px;
}
.hero-content{
    grid-template-columns: 1fr;
}
.hero-text{
    justify-self: center;
    width: 90%;
    max-width: 600px;
}
.hero-text h1{
    text-align: center;
}
.hero-collage{
    display: none;
}
.tiles-content{
    width: 90%;
    grid-template-columns: 1fr 1fr;
}
.tiles-content a{
    height: 0;
    padding-top: 100%;
}
#tiles-tile1{
    grid-column: auto;
}
#tiles-tile7{
    grid-column: auto;
}
.footer-content{
    padding: 0 20px;
}
}



@media(max-width: 600px){
.social-icons a{
    display: none;
}
.tiles-content{
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
}
.tiles-content a{
    width: 90%;
    padding-top: 90%;
}
}